{% extends 'layout.html' %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block body %}
<div class="content">
    <nav class="menu2">
        <ul class="menu-list2">
            <li><a href="#">Agregar</a></li>
            <li><a href="#">Listar</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
            <form action="/binaryres" method="post">
                <input type="text" name="datos">
                <button type="submit">Start</button>
            </form>
        {% endblock %}
    </div>
</div>
{% endblock %}