{% extends 'layout.html' %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block body %}
<div class="content">
    <nav class="menu2">
        <ul class="menu-list2">
            <li><a href="{{ url_for('quick') }}">Regresar</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
            <form action="/quickres" method="post">
                Lista de Numeros<input type="text" name="datos"> 
                <button type="submit">Start</button>
            </form>
        {% endblock %}
    </div>
</div>
{% endblock %}
