{% extends 'layout.html' %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block body %}
<div class="content">
    <nav class="menu2">
        <ul class="menu-list2">
            <li><a href="{{ url_for('quick') }}">Regresar</a></li>
        </ul>
    </nav>
    <div class="container">
        <script>
            function validarLista() {
                var lista = document.getElementById("lista").value.trim();
    
                // Verifica si la lista está vacía
                if (lista === "") {
                    alert("Por favor ingresa una lista separada por comas.");
                    return false;
                }
    
                // Verifica si la lista contiene caracteres diferentes a números y comas
                var regex = /^[\d,]+$/;
                if (!regex.test(lista)) {
                    alert("La lista solo debe contener números separados por comas.");
                    return false;
                }
    
                // Verifica si la lista termina con una coma
                if (lista.endsWith(",")) {
                    alert("La lista no debe terminar con una coma.");
                    return false;
                }
    
                // La lista es válida
                return true;
            }
        </script>
            <form action="/quickres" method="post" onsubmit="return validarLista()">
                Lista de Numeros<input type="text" id="lista" name="datos" placeholder="Ejemplo: 1,2,3,4,5" required> 
                <button type="submit">Start</button>
            </form>
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
