{% extends 'layout.html' %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block body %}
<div class="content">
    <nav class="menu2">
        <ul class="menu-list2">
            <li><a href="{{ url_for('web') }}">Regresar</a></li>
        </ul>
    </nav>
    <div class="container">
        <form action="/webres" method="post">
            <label for="texto">Ingrese una URL:</label>
            <input type="text" name="url" required>
            <button type="submit">Enviar</button>
        </form>
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}